CMakeFiles/
CMakeCache.txt
cmake_install.cmake
code
code.exe
*.o
*.dat
build/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
ALL_BUILD.*
ZERO_CHECK.*
x64/
Debug/
Release/
CMakeScripts/
compile_commands.json
