CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
code
code.exe
*.o
*.dat
build/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
ALL_BUILD.*
ZERO_CHECK.*
x64/
Debug/
Release/
CMakeScripts/
compile_commands.json
derleme_uyari.log
data/*/my.out
data/*/my.ans
data/*/my.err
data/*/diff.txt
data/*/my_debug.out
